@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@1,300&display=swap');

*{
    width: 100%;
    box-sizing: border-box;
    font-size: 1rem;
    /* font-family: 'Lato'; */
}

/* Cabecalho do Projeto */

.container-header-menu{
    display: flex;
    flex-direction: column;
    width: 80vw;
    margin: 0 auto;
}

.container-menu{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    border-bottom: 1.5px solid gray;
}

#logo{
    width: 60%;
}

/* Menu */

#section-search-project{
    display: flex;
    justify-content: center;
    align-items: center;

}

#section-login-user{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

#section-login-user button{
    width: 120px;
    height: 30px;
    border-radius: 10px;
    border: 1px solid gray;
    background: none;
    margin: 10px;
    transition: .3s;
}

#section-login-user button:hover{
    background-color: rgb(224, 224, 224);
}

.container-menu-project{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.section-type-project{
    flex-direction: row;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 10px auto;
}

#type-project{
    text-decoration: none;
    color: rgb(82, 82, 82);
}

#type-project:hover{
    text-decoration: underline
}

#search{
    margin: 10px;
}

.container-project-publish-principal{
    display: flex;
    justify-content: start;
    border-radius: 6px;
    background: linear-gradient(rgb(60, 62, 66), rgb(110, 114, 121));
    margin-top: 10px;
}

#infos-project-principal{
    color: white;
    padding: 30px;
    width: 50vw;
}

#title-project-principal{
    font-style: italic!important;
    font-size: 70px;
}

#more-info{
    text-decoration: underline;
    font-weight: bolder;
    font-size: 20px;
    cursor: pointer;
}

/* Conteudo da Publicacao do Projeto */

.container-project-publish {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.content-publish {
    height: fit-content;
    width: fit-content;
    margin-right: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid rgb(187, 187, 187);
    border-radius: 3px;
    padding: 10px;
    box-sizing: border-box;
    flex-direction: row; 
}

#section-info-project {
    display: flex;
    flex-direction: column;
    width: fit-content 
}

#section-img-project{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5vw;
}


#title-project{
    font-family: Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif;
    font-size: 30px;
}

#more-info-publish{
    text-decoration: underline;
    font-weight: bolder;
    font-size: 15px;
    cursor: pointer;
}   
