@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

*{
    width: 100%;
    box-sizing: border-box;
    font-size: 1rem;
}

/* Cabecalho do Projeto */

.container-header-menu{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 60vw;
    margin: 0 auto;
}

.container-menu{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    border-bottom: 1.5px solid gray;
}

#logo{
    width: 60%;
}

/* Menu */

#section-search-project{
    display: flex;
    justify-content: center;
    align-items: center;

}

#section-login-user{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

#section-login-user button{
    width: 120px;
    height: 30px;
    border-radius: 10px;
    border: 1px solid gray;
    background: none;
    margin: 10px;
    transition: .3s;
}

#section-login-user button:hover{
    background-color: rgb(224, 224, 224);
}

.container-menu-project{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.section-type-project{
    flex-direction: row;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 10px auto;
}

#type-project{
    text-decoration: none;
    color: rgb(82, 82, 82);
}

#type-project:hover{
    text-decoration: underline
}

